
.main-header {
  margin: auto;
  padding-top: 40px;
  height: 400px;
  width: 80%;
  background:  url('http://travelhdwallpapers.com/wp-content/uploads/2014/02/The-Louvre-18.jpg') no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}


@function top-shadow($depth) {
  $primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
  $blur: nth(1.5 3 10 14 19, $depth) * 4px;
  $color: rgba(black, nth(.12 .16 .19 .25 .30, $depth));

  @return 0 $primary-offset $blur $color;
}

@function bottom-shadow($depth) {
  $primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
  $blur: nth(1 3 3 5 6, $depth) * 4px;
  $color: rgba(black, nth(.24 .23 .23 .22 .22, $depth));

  @return 0 $primary-offset $blur $color;
}

@mixin card($depth) {
  @if $depth < 1 {
    box-shadow: none;
  } @else if $depth > 5 {
    @warn "Invalid $depth `#{$depth}` for mixin `card`.";
  } @else {
    box-shadow: bottom-shadow($depth), top-shadow($depth);
  }
}


.welcome{
  color: #cccccc;
}

.arrow {
  width: 75px;
  height: 75px;
  margin-top: 150px;
}

body{
  text-align: center;

  @media screen and (min-width: 360px) {
      .thumbnail {
      max-width: 380px;
      height: 200px;
      display: inline-block;
      margin: 1% 1% 5% 1%;
        }
      .welcome{
        display: none;
      }
      .architect{
        border-style: solid ;
        border: white;
      }
      .architectWord {
        font-size: 15px;
      }
  }

  @media screen and (min-width: 600px) {
    .main-header{
//    padding-top: 20px;
    }

    .thumbnail {
      max-width: 380px;
      height: 200px;
      display: inline-block;
      margin: 1% 1% 5% 1%;
      }
    .welcome{
      display: inline-block;
      max-width: 300px;
      padding-bottom: 10px;
      border-width: 2px 0px 2px 0px;
      border-style: dotted ;
      margin-bottom: 10px;
    }

    .architect{
      border-style: solid ;
      border: #e1e1e1;
      height: 77px;
      font-size: 30px;
    }
  }

  @media screen and (min-width: 900px) {
      .thumbnail {
        max-width: 380px;
        height: 200px;
        display: inline-block;
        margin: 1% 1% 5% 1%;
        }
      .welcome{
        display: inline-block;
        width: 30%;
        padding-left: 2%;
        border-style: none ;
    }
      .architect{
        display: inline-block;
        width: 50%;
        border: #e1e1e1;
        border-style: solid ;
        border-width: 0px 1px 0px 0px;
        padding-right: 2%;
        font-family: 'Cantata One', serif;
        font-size: 40px;
        height: 80px;
        padding-top:1px;
      }

      .welcomeSingle{
        display: inline-block;
//        width: 30%;
//        padding-left: 2%;
        border-style: none ;
    }
      .architectSingle{
        display: inline-block;
//        width: 50%;
//        border: #e1e1e1;
//        border-style: solid ;
//        border-width: 0px 1px 0px 0px;
        padding-right: 2%;
        font-family: 'Cantata One', serif;
        font-size: 40px;
        height: 80px;
        padding-top:1px;
      }

      .headerwrapperSingle{
        border-style: dotted ;
        border-width: 1px 0px 1px 0px;
        padding-bottom: 10px;
        width: 800px;
        display: inline-block;
      }

      .sideBarTop{
        width: 350px;
        display: inline-block;
        border: #e1e1e1;
        border-style: solid ;
        border-width: 0px 0px 0px 1px;
      }

      .viewSingle{
        width: 700px;
        display: inline-block;
      }

      .sideBar{
        width: 280px;
        display: inline-block;
      }

      .thumbimgSingle{
        width: 100%;
        height: 100%;
        padding-top: 5px;
        @include card(5);
      }


      .imgwrapper{
        max-width: 700px;
      }

      .imgSingle{
        width: 700px;
        height: 1500px;
        background-size: cover;

       }
    }
}

.headerwrapper{
  border-style: dotted ;
  border-width: 1px 0px 1px 0px;
  padding-bottom: 10px;

}

.thumbimg{
  width: 100%;
  height: 100%;
  padding-top: 10px;
  @include card(5);

}


.title{
  color: white;
}


input, textarea{
 text-align: center;
 width: 300px;
 resize: none;
 -ms-box-sizing:content-box;
 -moz-box-sizing:content-box;
 box-sizing:content-box;
 -webkit-box-sizing:content-box;
 border: solid black 1px;
 height: 20px;
 font-size: 15px;
}

label{
 font-size: 20px;
}

.newButtons{
 color: black;
 background: grey;
 width: 200px;
 border: solid black 1px;
 font-size: 20px;
}

a{
 padding-left: 90px;
 padding-right: 90px;
 text-decoration: none;
}

#newDiv{
 min-width: 300px;
}

#editDiv{
 text-align: center;
 min-width: 300px;
}

.description{
 height: 150px;
}

.buttonDiv{
 width: 150px;
}

.loginRegister{
 display: inline-block;
}

.slides{
 height: 500px;
 width: 700px;
 margin: auto;
}

.leftButton{
 display: inline-block;
}
