<form action="/gallery/{{id}}?_method=PUT" method="POST" enctype="application/x-www-form-urlencoded">

  <label for="user">User: </label>{{user}}
<br>
  <label for="link">Link: </label> <input type="text" id="link" name="link" value="{{link}}">
<br>
  <label for="description">Description: </label> <textarea name="description" id="description" cols="30" rows="10">{{description}}</textarea>
<br>
  <input type="submit" value="Submit">
</form>