<div id="theHeader">
  <div class="architectSingle">
    <h1>_StReJK</h1>
  </div>
  <div id="lineDiv">|</div>
  <div class="sideBarTop">
    <div class="welcomeSingle">Welcome to our online portfolio, we ae small group of passionate designers and architects, lookin to change and create amazing digital images to inspire others to follow in our innovative steps.
    </div>
  </div>
</div>

<div id="galleryDiv">
  {{#each gallery}}
  <div>
    <a href="/gallery/{{id}}">
      <div class="thumbnail">
        <img class="thumbimg" src="{{link}}" alt="image here">
        <div class="title"><b>{{title}}</b></div>
      </div>
    </a>
  </div>
  {{/each}}
</div>




