<div class="headerwrapper">
    <div class="architect">
      <h1 class="architectWord">_ARCHITEKT</h1>
    </div>
    <div class="welcome">Welcome to our online portfolio, we ae small group of passionate designers and architects, lookin to change and create amazing digital images to inspire others to follow in our innovative steps.
    </div>
    <div id="top" class="main-header">
    </div>
</div>