<h1>Hello</h1>

<div>
    <form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password">
    <input type="submit"></input>
  </form>
</div>
OR
<div>
    <form action="/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password">
    <input type="submit"></input>
  </form>
</div>


