<div id="newDiv">
<h1>Submit New Image to Gallery</h1>
 <form action="/gallery/?_method=POST" method="POST" enctype="application/x-www-form-urlencoded">
   <label for="user">User:<div>{{user}}</div></label>
 <br>
     <label for="title">Title</label><br> <input type="text" id="title" name="title" value="">
 <br>
   <label for="link">Link</label> <br><input type="text" id="link" name="link" value="">
 <br>
   <label for="description">Description</label> <br><textarea name="description" class="description" cols="30" rows="10"></textarea>
   <br>
   <input type="submit" value="Submit" class="newButtons">
 </form>
   <br>
 <a href="/gallery" class="newButtons">Back</a>
</div>