<form action="/gallery/?_method=POST" method="POST" enctype="application/x-www-form-urlencoded">

  <label for="author">Author:</label><input type="text" id="author" name="author" value="">
<br>
  <label for="link">Link:</label> <input type="text" id="link" name="link" value="">
<br>
  <label for="description">Description:</label> <input type="text" id="description" name="description" value="">
<br>
  <input type="submit" value="Submit">
</form>